li {
  display: inline-block;
  margin: 0 20px;
}

h4 {
  font-weight: bold;
}

h6 {
  font-weight: bold;
}

.sensor h5 {
  text-transform: capitalize;
}

.sensorList {
  margin-top: 10%;
}

.sensor {
  border: 2px solid black;
  border-radius: 5px;
  margin: auto;
  width: 825px;
  max-width: 100%;
  margin-bottom: 10px;
}
